<div class="d-flex align-items-center">
  <div class="container">
    <div class="row m-3">
      <div class="col-md-8 col-xs-12 justify-content-center">
        <form [formGroup]="form">
          <div class="form-group">
            <div class="form-inline">
              <div class="flex-grow-1">
                <ng-select [items]="pcModules$ | async" 
                  bindLabel="name" 
                  bindValue="id" 
                  formControlName="selectedModuleId">
                </ng-select>
              </div>
              <div class="m-1">
                <button type="button" class="btn btn-sm btn-success" (click)="openModal()"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-sm btn-primary" (click)="submit()">Submit</button>
        </form>
      </div>
    </div>
    <div class="row" *ngIf="selectedModule$ | async as selectedModule">
      <div class="col">
        <div class="card-group">
          <div class="card p-4">
              <div class="card-body">
                <form [formGroup]="moduleForm" #formDir="ngForm">
                  <h5>Module Name</h5>
                  <p>{{selectedModule.name}}</p>
                  <h5>Module Url</h5>
                  <p>{{selectedModule.url}}</p>
                  <div *ngIf="selectedModule.needUploadFile">
                    <div class="form-group">
                      <h5>Upload files</h5>
                      <input type="file" class="form-control" formControlName="files"/>
                      <div *ngIf="moduleForm.controls.files.invalid && (!moduleForm.controls.files.pristine || formDir.submitted)">
                        <small class="text-danger">This field is required</small>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="selectedModule.needCommand">
                    <div class="form-group">
                      <h5>Command</h5>
                      <input type="text" class="form-control" formControlName="command"/>
                      <div *ngIf="moduleForm.controls.command.invalid && (!moduleForm.controls.command.pristine || formDir.submitted)">
                        <small class="text-danger">This field is required</small>
                      </div>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-success" (click)="execute()">Execute</button>
                </form>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
